/* You can add global styles to this file, and also import other style files */
.bg-logo{
    position: absolute;
    right:.25rem;
    bottom: .25rem;
    opacity: 80%;
}
.text-primary{
    color: #30373A;
}
.form-label{
    font-family: 'Poppins';
}
